body { 
    font-family: sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 500px;       
    height: auto;       
    display: block;
    margin: 0 auto 1rem; 
}

.container {
    border: 2px solid pink;
    border-radius: 2rem;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.wrap { 
    max-width: 360px; 
    margin: 2rem auto; 
    padding: 1rem; 
}

label { 
    display: block; 
    margin: 0.5rem 0 0.25rem; 
}

select,input, button { 
    width: 90%; 
    padding: 0.5rem; 
    margin: .2rem auto;
}

button { 
    margin-top: 0.75rem; 
}

.checkbox {
    width: auto;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.checkboxlabel {
    display: inline-block;  
    margin: 0 0 0 0.5rem;   
    vertical-align: middle;
}

.formdiv {
    border: 2px solid pink;
    border-radius: 2rem;
    padding: 1rem;
    max-width: 600px;
    width: 500px;  
}
